.featured-item {
  position: relative;
  height: 28rem;
}

.featured-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../../assets/home/featured.jpg");

  opacity: 0.8;
  z-index: -1;
  background-attachment: fixed;
}

.without-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  color: white;
}
